{% extends "admin/change_list.html" %}
{% load i18n admin_urls static admin_list %}

{% block extrahead %}
    {{ block.super }}
    <script type="text/javascript">
        if (!$) {
            $ = django.jQuery;
        }
        $(function(){
            $('#result_list tbody tr').css({"cursor":"pointer"});

            $('#result_list tbody tr').on('click', function(event){
                var tag_name = $(event.target)[0].tagName;
                if (tag_name !== 'INPUT'){
                    window.location.href = $(this).attr("data-href");
                }
            });
        });
    </script>
{% endblock %}